@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.gallery-container {
  max-width: 1320px;
  margin: auto;
  width: auto;
  position: relative;
  flex-grow: 1;
  padding: 0 20px;
}

.radio {
  margin-bottom: 20px;

  &__lable {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    color: $font-color;
    cursor: pointer;
    transition: color .2s ease-in-out;

    &:hover {
      color: #000;
    }
  }

  &__input {
    margin-right: 10px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.gallery {
}

.masonry-grid {
  display: flex;
  margin-left: -24px;
  width: auto;
}

.masonry-grid_column {
  padding-left: 24px;
  background-clip: padding-box;
}
