$font-color: #767676;
$font-accent-color: #111;
$border-color: #d1d1d1;
$white-color: #ffffff;
$black-color: #000;
$search-background-color: #ececec;
$action-button-color: #555;
$tag-button-color: #eee;
$tag-button-accent-color: #e1e1e1;

